<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Ticket Card</title>
</head>
<body>
    <%- include('navbar') %> 

    <div class="container"id='container-ticketcard' >

       
           
            <div class="col col-12 col-sm-9" >
                    
                    <h3 class="oneWayForm">Ticket available on <%= journey[0].date %>: </h3>

                    <div class="card">
                        
                        <% 
                            
                            
                            for (let i = 0; i < journey.length; i++) {
                            
                        %>  
                        
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <%= journey[i].departure %> / <%= journey[i].arrival %>
                                    <div>departure at: <%= journey[i].departureTime %> pm</div> 
                                    <div> <%= journey[i].price %> €</div>
                                    <a href="/add-journey?id=<%=journey[i]._id%>"class="btn btn-danger"> Ok</a>
                            </li> 
                        <%
                            }
                        %>                     
                                 
                    </div>
            </div>  

       

        

    </div>
    <%- include('copyright') %> 

</body>
</html>